body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    color: #000000;
}

.controls {
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button {
    background-color: #d76fcf;
    color: white;
}

button:hover {
    background-color: #f4cf85;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: rgb(240, 192, 192);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(91, 78, 78, 0.1);
    text-align: left;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 5px 0;
}

.card button {
    margin-top: 10px;
    margin-right: 5px;
    background-color: #007BFF;
}

.card button:hover {
    background-color: #0056b3;
}
